<nav>
    <div class="site-title">
        <a href="/"><h1>Tyler Preston</h1></a>
        <p>Full-Stack Engineer</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/github">Github</a></li>
        <li><a href="/projects">Projects</a></li>
    </ul>
</nav>