<nav>
    <div class="site-title">
        <a href="/"><h1>Dog Blog</h1></a>
        <p>We Wash, You Pay!</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/gallery">Pictures</a></li>
        <li><a href="/queue">Queue</a></li>
    </ul>
</nav>