<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Me</h2>
        <p>Elit enim sunt magna enim sit non. Mollit dolor reprehenderit magna incididunt cupidatat sint sit nulla. Mollit id dolor aliqua deserunt laborum consequat quis duis ipsum exercitation nisi. Non velit non nisi nulla quis cillum et labore laborum cupidatat sint amet aute. Ea cupidatat consectetur eu anim laborum aliquip. Ipsum aute aute voluptate non fugiat pariatur ut consectetur sunt cillum.</p>
        <br>
        <p>Amet consequat eu ut et exercitation ipsum nostrud aliqua voluptate voluptate incididunt sint ipsum. Aute eu labore labore voluptate proident. Ea ex voluptate dolor aute non excepteur amet est sit quis ut Lorem mollit. Incididunt consectetur voluptate commodo aute do occaecat in adipisicing. Ea ipsum excepteur aliqua nulla. Do dolore ad magna ex pariatur minim deserunt adipisicing reprehenderit enim non do esse est. Commodo fugiat qui culpa anim commodo quis id culpa labore ut ex ea anim quis.</p>
        <br>
        <p>Elit ad voluptate culpa esse nulla tempor adipisicing voluptate minim. In eiusmod in et fugiat pariatur reprehenderit et id ut tempor. Laboris officia eu duis ipsum ea occaecat aliquip magna quis. Irure officia minim Lorem cillum excepteur irure magna adipisicing est Lorem do. Proident tempor ea sint sunt do laboris consectetur.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>